// basics
$orange: #e25322
$l-orange: #fa7d4b
$purple: #4b4182
$grey: #333333
$l-grey: #d8d8d8
$ll-grey: #eceff1
$font-default: 'Open Sans', sans-serif

html
	font-family: $font-default
	color: $grey

.wrapper
	width: auto
	box-sizing: border-box
	max-width: 1200px
	margin: auto

.hidden
	opacity: 0!important
	visibility: hidden!important


// extends
.button-center
	display: inline-block
	margin: auto
	padding: 15px 20px
	border-radius: 4px
	background-color: $orange
	color: white
	font-weight: bold
	text-transform: uppercase
	text-decoration: none
	transition-duration: 0.1s
	cursor: pointer
	border: 0
	&:hover
		background-color: $l-orange


// grid
.row
	display: flex
	flex-direction: row
	flex-wrap: wrap

@for $i from 1 through 12
	.col-#{$i}
		width: $i / 12 * 100%
		box-sizing: border-box
		padding: 10px
		margin: 0


// header
.header--logo
	display: block
	margin: auto
	width: 100%
	max-width: 300px
	padding: 10px 50px
	box-sizing: border-box

.header--background
	background-color: $purple

.main-title
	text-align: center
	font-size: 22px
	margin: 60px auto 20px auto


// main
.product-container--img
	width: 100%

.product-container--infos
	background-color: $ll-grey
	text-align: center
	font-size: 14px
	margin-top: -3px
	p
		padding-top: 20px
		padding-bottom: 20px
	p:nth-child(2)
		border-left: 2px solid $l-grey
		border-right: 2px solid $l-grey

.product-container--details
	margin: 15px 0 0 0

.product-container--button
	margin: 25px auto 40px auto
	text-align: center
	a
		@extend .button-center


// modale
.modale
	z-index: 3
	background: white
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	padding: 40px
	box-sizing: border-box
	width: 100%
	max-width: 610px
	transition: opacity 0.2s ease-in-out
	position: fixed
	opacity: 1
	visibility: visible

.modale--shadow
	display: block
	width: 100%
	height: 100%
	top: 0
	left: 0
	z-index: 10
	background: rgba(0, 0, 0, .7)
	cursor: pointer
	z-index: 2
	transition: opacity 0.2s ease-in-out
	position: fixed
	opacity: 1
	visibility: visible

.modale--close
	float: right
	position: absolute
	top: 12px
	right: 12px
	color: $grey
	cursor: pointer
	transition-duration: 0.1s
	&:hover
		color: $l-grey

.modale--title
	text-align: center
	font-size: 18px
	font-weight: bold
	margin-bottom: 40px

.connect-form
	display: block
	margin: auto
	width: 100%
	max-width: 300px

.connect-form--input-container
	margin-top: 15px

.connect-form--label
	display: block
	font-size: 14px

.connect-form--input
	display: block
	font-family: $font-default
	margin-bottom: 5px
	padding: 5px 0
	line-height: 1
	width: 100%
	border: 0
	border-bottom: 1px $grey solid
	&:focus
		outline: 0
		border: 0
		border-bottom: 2px $grey solid

.connect-form--error-message
	font-size: 12px
	color: red

.connect-form--submit
	@extend .button-center
	width: 100%
	margin: 20px auto 30px auto


// responsive mobile
@media (max-width: 320px)
	.col-m-12
		width: 100%

	.modale
		padding: 40px 10px